---
import { Image } from "astro:assets"
import linea from "../../public/img/linea.svg"
import logoFull from "../../public/img/logoFull.png"
import mision from "../../public/img/mision.png"
import vision from "../../public/img/vision.png"
---

<section id="about" class="p-4 dark:bg-gray-800 dark:text-white scroll-mt-14">
    <h1 class="text-3xl font-medium text-center">¿Quienes somos?</h1>
    <Image class="mb-4 mx-auto" src={linea} alt="linea"/>
    <article class="flex flex-col-reverse justify-center items-center lg:flex-row lg:justify-around">
        <p class="mb-4 lg:max-w-96 lg:m-0">En PROECUS, somos expertos en el sector agropecuario. Con una combinación única de innovación y experiencia, ofrecemos soluciones integrales para impulsar el éxito de nuestros clientes. Nuestra pasión por la excelencia impulsa cada aspecto de nuestro trabajo, y estamos comprometidos a brindar productos y servicios de la más alta calidad.</p>
        <Image class="mt-4 mb-10 rounded-lg lg:max-w-96 intersect:animate-fade intersect:animate-duration-[2500ms] intersect:animate-delay-200" src={logoFull} alt="logoFull"/>
    </article>
    <h1 class="text-3xl font-medium text-center">Misión</h1>
    <Image class="mx-auto" src={linea} alt="linea"/>
    <article class="flex flex-col justify-center items-center lg:flex-row lg:justify-around">
        <Image class="my-4 max-w-52 lg:max-w-64 intersect:animate-fade intersect:animate-duration-[2500ms] intersect:animate-delay-200" src={mision} alt="mision"/>
        <p class="lg:max-w-96">Contribuir en la ayuda a las organizaciones y grupos de interés, del Sector Agropecuario, en la gestión de su sostenibilidad, aportando servicios y soluciones estratégicas que generen valor y beneficio económico, social y medioambiental, a través de la innovación y el  conocimiento, tomando como base el compromiso con la misma sociedad civil, contribuyendo en la disminución al máximo del impacto negativo, sobre su entorno medioambiental</p>
    </article>
    <h1 class=" mt-10 text-3xl font-medium text-center">Vision</h1>
    <Image class="mx-auto" src={linea} alt="linea"/>
    <article class="flex flex-col-reverse justify-center items-center lg:flex-row lg:justify-around lg:mt-0">
        <p class="mb-4 lg:max-w-96 lg:m-0">Que PROECUS sea reconocida como una Organización Global,  Socialmente Responsable Líder, y Consolidada en materia ambiental, decididamente comprometida con el bienestar y el mejoramiento de la calidad de vida de la población y el manejo sostenible de los recursos naturales, en un mundo donde todos los actores vivan en igualdad y dignidad, armonizando con la naturaleza, poniendo a disposición las mejores capacidades profesionales, con el fin de garantizar altos niveles de eficiencia en sus actuaciones, adquiriendo un fuerte compromiso con todos los grupos de interés con los cuales interactúa, para el mejor cumplimiento de su misión.</p>
        <Image class="my-4 max-w-52 lg:max-w-64 intersect:animate-fade intersect:animate-duration-[2500ms] intersect:animate-delay-200" src={vision} alt="vision"/>
    </article>
</section>