---
import { Image } from "astro:assets"
import linea from "../../public/img/linea.svg"
import logoFull from "../../public/img/logoFull.png"
import mision from "../../public/img/mision.png"
import vision from "../../public/img/vision.png"
---

<section id="about" class="p-4 dark:bg-gray-800 dark:text-white">
    <h1 class="text-3xl font-medium text-center">¿Quienes somos?</h1>
    <Image class="mb-4 mx-auto" src={linea} alt="linea"/>
    <article class="flex flex-col justify-center items-center lg:flex-row lg:mx-14 lg:justify-around">
        <p class="mb-4 lg:max-w-96 lg:m-0">En PROECUS, somos expertos en el sector agropecuario. Con una combinación única de innovación y experiencia, ofrecemos soluciones integrales para impulsar el éxito de nuestros clientes. Nuestra pasión por la excelencia impulsa cada aspecto de nuestro trabajo, y estamos comprometidos a brindar productos y servicios de la más alta calidad.</p>
        <Image class="mt-4 mb-10 rounded-lg lg:max-w-96" src={logoFull} alt="logoFull"/>
    </article>
    <h1 class="text-3xl font-medium text-center">Misión</h1>
    <Image class="mx-auto" src={linea} alt="linea"/>
    <article class="flex flex-col justify-center items-center lg:flex-row lg:mx-14 lg:justify-around">
        <Image class="my-4 max-w-52 lg:max-w-64" src={mision} alt="mision"/>
        <p class="lg:max-w-96">En PROECUS, somos expertos en el sector agropecuario. Con una combinación única de innovación y experiencia</p>
    </article>
    <h1 class=" mt-10 text-3xl font-medium text-center">Vision</h1>
    <Image class="mx-auto" src={linea} alt="linea"/>
    <article class="flex flex-col justify-center items-center lg:flex-row lg:mx-14 lg:justify-around lg:mt-0">
        <p class="mb-4 lg:max-w-96 lg:m-0">En PROECUS, somos expertos en el sector agropecuario. Con una combinación única de innovación y experiencia</p>
        <Image class="my-4 max-w-52 lg:max-w-64" src={vision} alt="vision"/>
    </article>
</section>