---
import { Image } from "astro:assets";
import linea from "../../public/img/linea.svg";
import face from "../../public/img/facebook.png"
import whatsapp from "../../public/img/whatsapp.png"
import mapa from "../../public/img/mapa.png"
import maps from "../../public/img/maps.png"
---

<section id="contact" class="scroll-mt-16">
    <h1 class="text-3xl font-medium text-center mt-10 dark:text-white">
        Contáctanos
    </h1>
    <Image class="mx-auto" src={linea} alt="linea" />
    <div
        class="flex items-top justify-between lg:items-center dark:bg-gray-800 dark:text-white lg:p-4"
    >
        <div class="overflow-hidden w-full">
            <div class="grid grid-cols-1 lg:grid-cols-2">
                <div
                    class="flex flex-col items-center justify-center pb-4 lg:p-6 lg:rounded-lg"
                >
                    <h1 class="text-3xl hidden tracking-tight lg:inline">
                        Somos tu mejor opción
                    </h1>
                    <p class="text-xl mt-2 lg:text-base">Nos encantaría poder ayudarte</p>
                    <div class="flex items-center justify-center mt-8">
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            class="w-8 h-8 text-gray-500"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                            ></path>
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <div class="ml-4 tracking-wide font-semibold w-60">
                            Juan Suarez De Peralta #2586, Jardines De La Paz, Guadalajara Jal. México, C.P. 44860
                        </div>
                    </div>
                    <div class="flex items-center justify-center mt-4">
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            class="w-8 h-8 text-gray-500"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                            ></path>
                        </svg>
                        <div class="ml-4 tracking-wide font-semibold w-60">
                            3520001122
                        </div>
                    </div>
                    <div class="flex items-center justify-center mt-2">
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            class="w-8 h-8 text-gray-500"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                            ></path>
                        </svg>
                        <div class="ml-4 tracking-wide font-semibold w-60">
                            proecus.contacto@gmail.com
                        </div>
                    </div>
                    <div class="p-5 flex w-full justify-evenly lg:justify-center lg:gap-20 lg:pt-10">
                        <a href="#">
                            <Image class="max-w-12 transition duration-300 hover:scale-125" src={face} alt="face"/>
                        </a>
                        <a href="https://wa.me/523521050931?text=Me%20interesa%20conocer%20el%20catalog%C3%B3%20de%20productos%20" target="_blank" rel="noopener noreferrer">
                            <Image class="max-w-12 transition duration-300 hover:scale-125" src={whatsapp} alt="whatsapp"/>
                        </a>
                        <a href="https://maps.app.goo.gl/HGzSavUn9bSTY4136" target="_blank" rel="noopener noreferrer">
                            <Image class="max-w-12 transition duration-300 hover:scale-125" src={maps} alt="maps"/>
                        </a>
                    </div>
                </div>
                <section
                    class="flex justify-center overflow-hidden bg-white lg:rounded-3xl"
                >
                    <a href="https://maps.app.goo.gl/HGzSavUn9bSTY4136" target="_blank" rel="noopener noreferrer">
                        <Image class="h-full object-cover" src={mapa} alt="mapa"/>
                    </a>
                </section>
            </div>
        </div>
    </div>
</section>
